#stat-card{
    display:flex;
    border:4px solid rgba(0, 0, 0, 0.897);
    box-shadow:2px 4px rgb(43, 42, 42);
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    /* background:linear-gradient(180deg, rgba(0, 0, 0, 0.98) 1.48%, rgba(93, 219, 68, 0.68) 12.52%, rgb(1, 87, 30) 89.52%), url('../../public/images/backgrounds/peleBackground.jpg'); */
    /* background:linear-gradient(180deg, rgba(0, 0, 0, 0.98) 1.48%, rgba(187, 219, 180, 0.68) 12.52%, rgb(92, 97, 93) 89.52%),url('../../public/images/backgrounds/peleBackground.jpg'); */
    width:78%;
    padding:10px;
    min-width:450px;
    min-height:74vh;
    margin:20px auto 50px auto;
    border-radius:20px;
    overflow-y: scroll;
}
#stat-card>div{
    width:50%;
    padding:1rem;
}




/* Button */
.back-btn{
    margin-top:5px;
    display:flex;
    align-items:center;
    justify-content:center; 
    float:left; 
    width:7rem;
    height:2rem;
    background-color:rgba(33, 59, 42, 0.9);
    color:white;text-align:center;
    box-shadow:1px 2px black;
    margin-left:30px;
}


.back-btn:before {
    content: "";
    position: absolute;
    top: -1;
    left: 0px;
    border-top: 15px solid transparent;
    border-right: 30px solid rgb(33, 59, 42);
    border-bottom: 15px solid transparent;
}


.back-btn:hover {
    background-color: rgba(33, 59, 42);
    box-shadow: 0 5px 15px rgba(46, 202, 101, 0.4)
}

.back-btn:hover:before {
    border-right-color: rgba(33, 59, 42, 1);
    box-shadow: 0 5px 15px rgba(46, 202, 101, 0.4)
}

/* Tables */

/* image-personal info*/
.stats-header{
    color:black;
    font-weight:bold;
    font-size:2.5rem;
    min-width:50px;
    font-style: oblique;
}
.img-personal{
    display:flex;
    flex-direction:column;
    align-items:flex-start;    
}

.playerImg{
    max-width:20rem;
    min-width:10rem;
    /* border:1px solid black; */
    box-shadow:2px 4px rgb(29, 29, 29);
}
/* personal stats */
.personal-stats{
    padding-top:7px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    width:100%;
}
.personal-stats p{
    font-size:14px;
    line-height: 1.5;

}
.personal-stats p span{
    color:white
}

.datatable{
    width:100%;
    min-width:100px;
    height:80%;
    margin:auto;
    font-size:14px;
    background-color:rgba(17, 22, 19, 0.575);
    color:white;
    border:2px solid black;
    border-collapse: collapse;
}

.thead{
    border-bottom:2px solid white;

}
.datatable tr,td,th{
    border:1px solid white;
}







